.footer {
  background: var(--color-font);
  padding: 0 1rem;
  text-align: center;
}

.footer a,
.footer span {
  color: #FFFFFF;
}

.footerTop {
  padding: calc(4vw + 4vh) 0 !important;
}

.containerFooter > div {
  margin-bottom: 2rem;
}

.containerFooter > div > svg {
  width: 180px;
  fill: #FFFFFF;
  margin-bottom: 2rem;
}

.containerFooter > div > form {
  background: var(--color-dark) !important;
}

.containerFooter > div > form::placeholder {
  color: var(--color-dark-text) !important;
}

.containerFooter > div > form > button::after {
  display: none;
}

.footerTop > div:nth-child(2),
.footerTop > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footerBottom {
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.footerBottom > span{
  order: 1;
  padding-bottom: 2rem;
}

.footerBottom > div {
  display: flex;
  gap: 2rem;
  justify-content: center;
}


@media screen and (min-width: 768px) {
  .footer {
    padding: 0 calc(3vw + 3vh);
    text-align: left;
  }

  .containerFooter {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .containerFooter > div {
    margin-bottom: 0;
  }

  .footerTop a:hover {
    text-decoration: underline;
  }

  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .footerBottom div {
    display: flex;
    gap: 3rem;
  }

  .footerBottom a {
    display: block;
    padding: 1rem;
  }

  .footerBottom a:hover {
    text-decoration: underline;
  }

  .footerBottom > span{
    order: -1;
    padding-bottom: 0;
  }
}
