.heroContent {
  position: relative;
  height: clamp(24rem, calc(28vw + 28vh), 67vh);
  display: flex;
  align-items: flex-end;
  margin-bottom: clamp(4rem, calc(4vw + 4vh), 6rem);
}

.title{
  font-family: var(--font-secondary), sans-serif;
  font-size: clamp(2rem, calc(6vw + 6vh), calc(10vw + 10vh));
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  max-width: clamp(20rem, calc(28vw + 28vh), calc(40vw + 40vh));
  width: 100%;
  line-height: 84%;
  letter-spacing: -0.035em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title:last-child {
  color: transparent;
  -webkit-text-stroke: 2px var(--color-white);
  z-index: 3;
}

.btnHero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: clamp(12rem, calc(13vw + 13vh), 270px);
}

.btnHero span {
  font-size: clamp(1rem, calc(1.3vw + 1.3vh), 1.375rem);
}

.image{
  position: absolute;
  z-index: 2;
  top: -6rem;
  right: 0;

  max-width: clamp(100px, 47vw, 50vw);
  width: 100%;
  height: auto;
}
