.header {
  max-width: 100%;
  width: 90%;
  margin: 0 auto 2rem auto;
}

.logo {
  display: block;
  width: 140px;
  margin: 2rem 0 0;
}

@media screen and (min-width: 768px) {
  .header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}