.clientSection {
  min-height: clamp(36rem, calc(52vw + 52vh), calc(38vw + 38vh));
}

.title,
.paragraph {
  font-size: clamp(1.25rem, calc(1.5vw + 1.5vh), 1.75rem);
  line-height: 1.32;
  margin: 0 0 calc(1.2vw + 1.2vh);
}

.title {
  font-weight: 700;
}

.paragraph {
  font-weight: 300;
  margin: 0 0 calc(2vw + 2vh);
}

.image {
  border-radius: 20px;
  box-shadow: var(--shadow);
}

@media screen and (min-width: 1024px) {
  .clientSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .clientContent {
    width: clamp(10rem, calc(28vw + 28vh), calc(30vw + 30vh));
  }

  .image {
    width: clamp(20rem, calc(20vw + 20vh), calc(22vw + 22vh));
    height: auto;
  }
}
