.fundedWrapper {
  position: relative;
  margin-bottom: clamp(4rem, calc(4vw + 4vh), calc(5vw + 5vh));
  text-align: center;
  padding: 0 1rem;
}

.fundedTitle {
  font-family: var(--font-secondary);
  font-size: clamp(2rem, calc(3.5vw + 3.5vh), 5rem);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 84%;
  margin: clamp(6rem, calc(6vw + 6vh), calc(7vw + 7vh)) 0 clamp(1.5rem, calc(0.5vw + 0.5vh), calc(1vw + 1vh));
}

.fundedParagraph {
  font-size: clamp(1rem, calc(2vw + 2vh), 1.5rem);
  line-height: 1.32;
  margin: 0 auto calc(1vw + 1vh) auto;
  max-width: 960px;
}

.fundedImage {
  max-width: 94%;
  height: auto !important;
  margin: 0 auto;
}
