.videoHero {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  overflow: hidden;
  border-radius: 1.2rem;
  width: calc(11vw + 11vh) !important;
  height: calc(19vw + 19vh) !important;
  transform: translate(40%, -40%);
}

.videoHero iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  .videoHero {
    display: block;
  }
}