.videoHero {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(40%, -40%);
  width: calc(11vw + 11vh) !important;
  height: calc(19vw + 19vh) !important;
  box-shadow: 0 15px 30px 0 rgb(0 42 102 / 4%), inset 1px 1px 1px 0 hsl(0deg 0% 100% / 90%);
}

.videoHero > div {
  width: calc(11vw + 11vh) !important;
  height: calc(19vw + 19vh) !important;
}

.videoHero iframe {
  border-radius: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
  .videoHero {
    display: block;
  }
}